/*
.Bild1 {
    margin-left: 100px;
    margin-top: 25px;
    margin-right:425px;
    margin-bottom: 25;
}
.Bild2 {
    margin-left: -600px;
    margin-top: 25px;
    margin-bottom: 25;
    
    
}
.Bild3 {
   margin-right: 50px;
   margin-left: 450px;
   text-align: center;

}
*/

#features{
    background-color: white;
    margin-top: -150px;
    padding-top: 50px;
    text-align: center;
    
    
}
#features2{
    text-align:center;
    padding-top: 50px;
}

#features3{
    margin-top: 150px;
    margin-right: -86px;
}

#pictureleft1{
    margin-left: 180px;
    margin-top: 20px;
}
#picturemiddle1{
    margin-left: 180px;
    margin-top: 20px;
}
#pictureright1{
    margin-left: 180px;
    margin-top:  20px;
}
#pictureleft2{
    margin-left: 180px;
    margin-top: 20px;
}
#picturemiddle2{
    margin-left: 180px;
    margin-top: 40px;
}
#pictureright2{
    margin-left: 180px;
    margin-top:  35px;
}
#logos{
    margin-top: 200px;
    margin-left: 200px;
}
#playbutton{
    margin-left: 160px;
    margin-right: 50%;
    height: 100px;
    margin-top: -350px;
}

#Bild2{
    margin-left: 70px;
    margin-top:30px;
}

#Bild1{
    margin-left: 225px;
    margin-top:30px;
}
#Bild3{
    margin-left: -85px;
    margin-top: 30px;
}
#Schriftlinks{
    font-size: 12px;
    font-weight: bold;
    margin-left:450px;
    color: white;
    margin-top:-80px;
}
#Schriftmitte{
    font-size: 12px;
    font-weight: bold;
    margin-left:740px;
    color: white;
    margin-top: -80px;
}
#Schriftrechts{
    font-size: 12px;
    font-weight: bold;
    margin-left:1030px;
    color: white;
    margin-top: -80px;
}
#untereReihe{
    margin-top: -35px;
}

#unten{
    margin-top:10px;
}
#unten2{
    margin-top: -12px;
}